.container {
    margin: 2rem;
}

.container h1 {
    text-align: center;
    margin: 2rem 0;
}

.border {
    margin: 1rem 0;
}

.content {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    width: 15rem;
    white-space: normal;
    word-break: break-word;
    text-align: center;
}

.error p {
    text-align: center;
    margin-top: 10rem;
}