.container {
    margin: 2rem 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.jdrListContainer .green {
    color: #0D3C36;
    text-decoration: underline;

}

.container img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    .postContainer p {
        font-size: 1.6rem;
    }
}