.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5F5F5F;
}

.boldText {
    font-weight: bold;
}

.commentHeader img {
    max-height: 20px;
    cursor: pointer;
}

.content {
    margin-top: 1rem;
}

/* Petit écran d'ordinateur */
@media (min-width: 1280px) {

    .container {
        margin-top: 4rem;
    }
}

/* Grand écran d'ordinateur */
@media (min-width: 1920px) {

    .container {
        margin-top: 8rem;
    }
}