.errorMessage {
    text-align: center;
    margin-top: 4rem;
    font-weight: bold;
}

.commentContainer {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #5F5F5F;
    border-radius: 10px;
    background-color: #fcfcfc;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5F5F5F;
}

.boldText {
    font-weight: bold;
}

.commentHeader img {
    max-height: 20px;
    cursor: pointer;
}

.content {
    margin-top: 1rem;
}

/* Tablette */
@media (min-width: 768px) {

    .commentContainer {
        margin-top: 2rem;
    }
}

/* Petit écran d'ordinateur */
@media (min-width: 1280px) {

    .container {
        margin-top: 4rem;
    }
}

/* Grand écran d'ordinateur */
@media (min-width: 1920px) {

    .container {
        margin-top: 8rem;
    }
}