.container {
    background-color: #031B49;
    color: #FFF;
}

.buttons :global(h1) {
    font-size: 1.2rem;
}

/* Tablette */
@media (min-width: 768px) {
    .container {
        display: flex;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .logo {
        flex: 1;
    }

    .logo :global(img) {
        width: 10rem;
    }

    .buttons {
        flex: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttons :global(a) {
        flex: 1;
        margin: 0;
    }

    .buttons :global(h1) {
        padding: 0.5rem;
        text-align: center;
        font-size: 1.5VW;
    }
}