.container {
    margin: 1.5rem;
}

.home {
    display: flex;
    flex-direction: column-reverse;
}

.desc {
    text-align: center;
    padding: 1rem;
}

.logo {
    width: 75%;
    box-shadow: 0 0 10px #555;
    margin-bottom: 2rem;
}

.desc p {
    text-align: justify;
}

.admin {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

/* Tablette et pc */
@media (min-width: 768px) {
    .container {
        margin: 2rem;
    }

    .home {
        flex-direction: row;
    }

    .desc {
        padding: 2rem;
        flex: 2;
        max-width: 67%;
    }

    .logo {
        width: 50%;
        margin-bottom: 4rem;
    }
}

/* pc */
@media (min-width: 1280px) {
    .desc {
        flex: 3;
        max-width: 75%;
    }

    .admin {
        margin-top: 4rem;
    }
}