.modalModify {
    width: 800px;
}

.modalModifyContent {
    min-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Petit écran d'ordinateur */
@media (min-width: 1280px) {
    .modalModify {
        width: 1200px;
    }
}