.btn {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.btnLogout {
    margin-bottom: 5rem;
}

.btnModify,
.btnDelete {
    text-align: center;
}

.btnDelete {
    margin-top: 5rem;
}

.test {
    text-align: center;
}