.container h1 {
    margin: 2rem 0;
    text-align: center;
}

.errorMessage {
    text-align: center;
    margin-top: 10rem;
}

.heroStoryContainer {
    margin-bottom: 2rem;
    margin-right: 10rem;
    padding: 1rem;
    background-color: #FFF;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.documents {
    display: flex;
    justify-content: space-between;
}

.documents p,
.documents img {
    margin: 5px 0;
    box-sizing: border-box;
}

.title {
    width: 80%;
}

.date {
    width: 60%;
    text-align: center;
}

.tag {
    width: 60%;
    text-align: center;
}

.documents img {
    height: 30px;
    margin: 0 0.5rem;
}

.commentContainer hr {
    margin: 1rem 0 2rem 0;
}